.titleBar {
    background-color: #000;
    display: flex;
    color: #fff;
    padding-left: 16px;
}

.search {
    padding: 10px;
    max-width: 500px;

}

input {
    background-color: rgb(58, 41, 68);
    border: none;
    color: #fff;
    border-radius: 10px;
    width: 400px;


}

::placeholder {
    color: #fff;
    padding: 20px
}


.App-header {
    background: linear-gradient(to bottom, rgba(11, 16, 33, 1) 0%, rgba(14, 20, 40, 1) 51%, rgba(14, 20, 40, 1) 100%) no-repeat;
    height: 150px;
    padding: 20px;
    color: white;

}

table {
    margin-top: 20px;
}